
<footer class="bg-primary text-info py-4 mt-5">

    <div class="container-fluid text-center">

        <p class="mb-1 fw-bold">
            <i class="bi bi-car-front-fill"></i>
            FleetCard
        </p>

        <p class="mb-0 text-info">
            Sistema de Gestão de Veículos
        </p>

        <br>
        <hr class="text-primary w-100 m-0 ">

        <small class="text-info">
            © 2026 FleetCard - Projeto Integrador
        </small>

    </div>

</footer>

