
{% extends 'base.html' %}

{% load static %}

{% block title %}

Home | FleetCard

{% endblock %}


{% block content %}



<!-- Seção principal -->
<section class="py-5 bg-info">

    <!-- Container -->
    <div class="container">

        <!-- Conteúdo -->
        <div class="row align-items-center g-4">

            <!-- Texto -->
            <div class="col-12 col-md-6">
                ...
            </div>

            <!-- Card -->
            <div class="col-12 col-md-6">
                ...
            </div>

        </div>

    </div>

</section>


{% endblock %}
